.custom-header {
  height: 3.5rem;
}

.custom-header__title {
  font-weight: bold;
  font-size: 150%;
  flex: 1;
  color: white;
}

.custom-header__linktext {
  flex: 1;
  padding-left: 10px;
  color: var(--text-color);
}

.custom-header__logo {
  height: 3.5rem;
}

a.custom-header__link:hover {
  text-decoration: none;
}

a.custom-header__link {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding:  16px 16px 16px 16px;
  clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
  background-color: var(--logo-bg);
  color: var(--text-color);
  font-size: 150%;
  font-weight: bold;
}


