.custom-header__system-message-header {
  padding: 0.5rem var(--section-padding);
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: var(--section-padding);
  border-radius: 0;
  z-index: 19;

  & + .custom-header__system-message-header {
    margin-top: calc(var(--section-padding) * -1);
  }
}

.ch-dismiss-link {
  margin-left: auto;
  display: inline-flex;
  border-radius: 0.25rem;
  background: color-mix(in sRGB, var(--red) 15%, transparent);
}

.ch-dismiss-link svg {
  color: var(--red);
  width: 20px;
  height: 20px;
}

.custom-header__title {
  opacity: 0.9;
}

.custom-header__system-message-header a {
  color: inherit;
  text-decoration: underline;
}

.custom-header__system-message-header a:hover,
.custom-header__system-message-header a:focus,
.custom-header__system-message-header a:active {
  text-decoration: underline;
}

.ch-sm-label {
  padding: 5px 10px;
  margin-right: 20px;
}

.ch-samples {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: var(--section-padding);
}

.ch-sample {
  min-width: 150px;
  min-height: 50px;
  font-weight: 450;
  box-shadow: inset 0 0 0 1.5px var(--input-border);
  justify-content: start;
}
