.custom-header__system-message-header {
  padding: 5px 1.15rem;
  margin: 0;
  display: flex;
  align-items: center;
}

.ch-dismiss-link {
  margin-left: auto;
  display: inline-flex;
  border-radius: 0.25rem;
  background: color-mix(in sRGB, var(--red) 15%, transparent);
}

.ch-dismiss-link svg {
  color: var(--red);
}

.custom-header__system-message-header a {
  color: inherit;
  text-decoration: underline;
}

.custom-header__system-message-header a:hover,
.custom-header__system-message-header a:focus,
.custom-header__system-message-header a:active {
  text-decoration: underline;
}

.ch-samples {
  display: flex;
  gap: 1rem;
}

.ch-sample {
  padding: 0.5rem;
  min-width: 0;
}