.custom-header__system-message-header {
  padding: 5px 1.15rem;
  margin: 0;
  font-size: var(--font-size-sm);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.ch-dismiss-link {
  margin-left: auto;
  display: inline-flex;
  border-radius: 0.25rem;
  background: color-mix(in sRGB, var(--red) 15%, transparent);
}

.ch-dismiss-link svg {
  color: var(--red);
}

.custom-header__system-message-header a {
  color: inherit;
  text-decoration: underline;
}

.custom-header__system-message-header a:hover,
.custom-header__system-message-header a:focus,
.custom-header__system-message-header a:active {
  text-decoration: underline;
}

.custom-header__alert-success {
  color: var(--alert-success-text-color);
  background-color: var(--alert-success-bg-color);
  border-color: var(--alert-success-border-color);
}

.custom-header__alert-info {
  color: var(--alert-info-text-color);
  background-color: var(--alert-info-bg-color);
  border-color: var(--alert-info-border-color);
}

.custom-header__alert-warning {
  color: var(--alert-warning-text-color);
  background-color: var(--alert-warning-bg-color);
  border-color: var(--alert-warning-border-color);
}

.custom-header__alert-warning p {
  color: var(--alert-warning-text-color);
}

.custom-header__alert-danger {
  color: var(--alert-danger-text-color);
  background-color: var(--alert-danger-bg-color);
  border-color: var(--alert-danger-border-color);
}

.custom-header__alert-danger p {
  color: var(--alert-danger-text-color);
}