.custom-header__page {
  background-color: #20206f;
}

.page-header__hyperlinks a:hover,
.page-header__hyperlinks a:focus,
.page-header__hyperlinks a.mouseIsOverMenuSelector {
  background-color: #2020bf;
}

#search-box.main-search__input:focus, #search-box.main-search__input:active {
	box-shadow: 0 0 0 5px rgb(32,32,191, 1);
}