.custom-header__page {
  background-color: #df0000;
}

.page-header__hyperlinks a:hover,
.page-header__hyperlinks a:focus,
.page-header__hyperlinks a.mouseIsOverMenuSelector {
  background-color: #ff2020;
}

#search-box.main-search__input:focus, #search-box.main-search__input:active {
	box-shadow: 0 0 0 5px rgba(255,20,20, 1);
}